<div class="middle-section container text-center my-5">
    <h1> DRIVING LOAN WORKOUT SOLUTIONS WITH EXPERTISE AND PRECISION </h1>
    <p><h2>Socius Consulting is dedicated to delivering cost effetive financial solutions thorugh the expert guidance
        in commercial loan workouts, liquidation strategies and negotiations. Our mission is to empower lenders with tailored stratergies
        that optimize financial outcomes, ensuring stability and reduced charge offs in a complex financial landscape minimized.</h2>
    </p>
    <%= image_tag "image_socius.png", alt: "socius_home_screen_image", width: "1200", height: "600" %>
</div>