<div class="hero">
    <h1>Help Applicants Become Borrower</h1>
    <p>Stay current on their credit changes</p>
    <a class="btn btn-primary" href="#">Explore Undisclosed Debt Monitoring</a>
</div>

<div class="middle-section container text-center my-5">
    <h2>LEADER IN MORTGAGE CREDIT REPORTS</h2>
    <p>Socius consulting is dedicated to delivering cost effetive financial solutions thorugh the expert guidance
        in commercial loan workouts
    </p>

    <p>Socius consulting is dedicated to delivering cost effetive financial solutions thorugh the expert guidance
        in commercial loan workouts
    </p>

    <p>Socius consulting is dedicated to delivering cost effetive financial solutions thorugh the expert guidance
        in commercial loan workouts
    </p>
</div>