<strong> <center> Website Data Collection Practices </center> </strong></br>

<br> <center> Information Automatically Collected </center>

<p> When you visit our website, we automatically collect certain information, such as your IP address, device ID, browser type and operating system, the domain from which you came, the page you are viewing, and the date and time of your visit. 

We use this information for a number of purposes, such as investigating security incidents, running analytics to understand usage, and for compliance with security standards. </p>

 <br> <center> Google Analytics  </center> 
<p>
We use a tool called “Google Analytics” to collect information about use of our website, including IP address, geolocation, language, the domain from which you came, and browser type. Google Analytics uses cookies and similar technologies to collect information
 such as how often users visit our website, what pages they visit when they do so, and what other sites they used prior to coming to our website. We do not combine the information collected through the use of Google Analytics with personal information you provide
 to us through this website or other means. For information on how Google Analytics uses data and how to control information sent to Google, visit
www.google.com/policies/privacy/partners/. 

We use the information we get from Google Analytics to understand how our website is used and make improvements. </p>

<br> <center>  Information Sharing and Disclosure </center>

<p>
We do not intend to share the personal information collected through this website with third parties that are not our service providers. However, we may disclose your information in the following scenarios: 

When required by law, subpoena, or other legal process or enforceable governmental request or when necessary to protect our rights. 

When necessary to investigate, take action, or prevent suspected or actual illegal activities, fraud, or potential threats to safety or personal physical safety. 

If our company or our assets are acquired or purchased by another company, that company will assume responsibility for the information collected through this website. </p>

<p> We do not sell the personal information collected through our website to third parties for marketing purposes. As such, we cannot process requests to opt out of the sale of this information. </p>

<br> <center> Security and Confidentiality  </center>

<p> 
We strive to protect the personal information that we collect, maintain, and disclose through the use of administrative, physical, and technical safeguards. Personal information submitted online is transmitted through a transport layer security (TLS) transmission,
 which is a protocol for establishing a secure connection for transmission. Our security program is designed to: (1) ensure the security and confidentiality of personal information, (2) protect against any anticipated threats or hazards to the security or integrity
 of the information, and (3) protect against unauthorized access, alteration, and unlawful disclosure of the information. We dispose of such information by taking measures to protect against unauthorized access to or use of the information. </p>

 
 <br> <center> Changes to This Policy  </center>
 
 <p> 
 We may modify this Privacy Policy at any time. If we do, we will post the revised version here. You should periodically check here for the most up-to-date version of this Privacy Policy. The effective date noted above is the date that we published this Privacy
  Policy on our website. </p>
