<footer class="bg-light py-3">
  <div class="container text-center">
    <p>&copy; <%= Time.current.year %> Your Company Name. All rights reserved.</p>
    <p><%= link_to 'Privacy Policy', '#' %> | <%= link_to 'Terms of Service', '#' %></p>
  </div>
</footer>