<div  style="background-color: #000080; height: 56px;"></div>
<nav class="navbar navbar-expand-lg">
    <h1 class="navbar-brand" style= "font-size: 4rem !important;" >Socius Consulting, LLC</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/home/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/home/index">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.creditbureaureports.com/iconnect/?link=Login">Client Portal</a></li>
        </ul>
    </div>
</nav>